<a href="https://colab.research.google.com/github/username1103/tensorflow_example/blob/master/datatip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 에러들 다루기

*   데이터를 범주형으로 변경
*   NA데이터 확인

# 데이터를 범주형으로 변경



*   원핫 인코딩시 데이터가 category나 object타입이어야 pd.get_dummies(data)로 원핫인코딩가능

In [2]:
import pandas as pd

In [4]:
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
data = pd.read_csv(path)

data.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [5]:
# 원 핫 인코딩
encoding_data = pd.get_dummies(data)
encoding_data.head()


# pandas는 숫자로 데이터가 되어있으면 숫자로인식하므로 범주형 데이터로 변환이 필요.

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [7]:
print(data.dtypes)

# 아래에 타입이 category이거나 object일 때만 원핫인코딩을 하게 되기 때문에 변경해줘야함.

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [8]:
# 품종 타입을 범주형으로 바꾸어 준다.
data['품종'] = data['품종'].astype('category')
print(data.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [9]:
# 원 핫 인코딩
encoding_data = pd.get_dummies(data)
encoding_data.head()

# 원핫 인코딩된 결과를 얻을 수 있음.

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

# NA값 체크하기

In [10]:
# NA값을 체크해보기
data.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [11]:
data.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [13]:
# NA값에 꽃잎폭 평균값을 넣어주는 방법
mean = data['꽃잎폭'].mean()
data['꽃잎폭'] = data['꽃잎폭'].fillna(mean)
data.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2