<a href="https://colab.research.google.com/github/username1103/tensorflow_example/blob/master/flatten.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 이미지 분류


*   reshape를 사용한 분류
*   flatten을 이용한 분류

# reshape를 사용한 분류

In [28]:
import tensorflow as tf
import pandas as pd

# 과거 데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
독립 = 독립.reshape(60000,784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 784) (60000, 10)

In [29]:
# 모델 생성
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [30]:
# 모델 학습
model.fit(독립,종속,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 6.6588 - accuracy: 0.8084
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5518 - accuracy: 0.9121
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4382 - accuracy: 0.9304
Epoch 4/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3888 - accuracy: 0.9406
Epoch 5/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3972 - accuracy: 0.9419
Epoch 6/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3660 - accuracy: 0.9431
Epoch 7/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3726 - accuracy: 0.9456
Epoch 8/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3352 - accuracy: 0.9490
Epoch 9/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3413 - accuracy: 0.9511
Epoch 10/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3441 - accuracy: 0.9487

In [47]:
# 모델 이용
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [48]:
# 비교
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# flatten을 이용한 분류

In [3]:
import tensorflow as tf
import pandas as pd

In [5]:
# 과거 데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
# 독립 = 독립.reshape(60000,784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000, 10)

In [8]:
# 모델 생성

# X = tf.keras.layers.Input(shape=[784])
X = tf.keras.layers.Input(shape=[28,28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84 ,activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [9]:
# 모델 학습
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 6.6394 - accuracy: 0.8100
Epoch 2/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.5234 - accuracy: 0.9121
Epoch 3/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4683 - accuracy: 0.9274
Epoch 4/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3942 - accuracy: 0.9364
Epoch 5/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3665 - accuracy: 0.9426
Epoch 6/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3468 - accuracy: 0.9464
Epoch 7/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3461 - accuracy: 0.9491
Epoch 8/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3407 - accuracy: 0.9489
Epoch 9/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3369 - accuracy: 0.9516
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3233 - accuracy: 0.9539

In [51]:
# 모델 이용
results = model.predict(독립[0:5])
pd.DataFrame(results).round()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [52]:
# 비교
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1