<a href="https://colab.research.google.com/github/username1103/tensorflow_example/blob/master/LeNet_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.researchgate.net/profile/Sheraz-Khan-14/publication/321586653/figure/fig4/AS:568546847014912@1512563539828/The-LeNet-5-Architecture-a-convolutional-neural-network.png"/>

# mnist

In [ ]:
import tensorflow as tf
import pandas as pd

In [18]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립. reshape(60000,28,28,1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
# 모델 생성
X = tf.keras.layers.Input(shape=[28,28,1])

H = tf.keras.layers.Conv2D(6,kernel_size=5, padding='same', activation='swish')(X) # padding = 'same' 을 주면 feature map의 사이즈가 input 사이즈와 같게 된다.
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Conv2D(16,kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델 학습
model.fit(독립,종속,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 42s 22ms/step - loss: 1.4968 - accuracy: 0.8611
Epoch 2/10
1875/1875 [==============================] - 41s 22ms/step - loss: 0.0877 - accuracy: 0.9764
Epoch 3/10
1875/1875 [==============================] - 41s 22ms/step - loss: 0.0699 - accuracy: 0.9816
Epoch 4/10
1875/1875 [==============================] - 40s 22ms/step - loss: 0.0627 - accuracy: 0.9846
Epoch 5/10
1875/1875 [==============================] - 41s 22ms/step - loss: 0.0599 - accuracy: 0.9844
Epoch 6/10
1875/1875 [==============================] - 42s 22ms/step - loss: 0.0621 - accuracy: 0.9861
Epoch 7/10
1875/1875 [==============================] - 42s 22ms/step - loss: 0.0593 - accuracy: 0.9862
Epoch 8/10
1875/1875 [==============================] - 42s 22ms/step - loss: 0.0652 - accuracy: 0.9859
Epoch 9/10
1875/1875 [==============================] - 42s 22ms/step - loss: 0.0592 - accuracy: 0.9874
Epoch 10/10
1875/1875 [==============================] - 42s 22ms/step - loss: 0.0675 - accuracy: 0.9866

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 28, 28, 6)         156
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense (Dense)                (None, 120)               48120
_________________________________________________________________
dense_1 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_2 (Dense)              (None, 10)                850
=================================================================
Total params: 61,706
Trainable params: 61,706
Non-trainable params: 0
_________________________________________________________________

In [ ]:
results = model.predict(독립[0:5])
pd.DataFrame(results).round(2)

     0    1    2    3    4     5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.99  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.00  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.00  0.0  0.0  0.0  1.0

In [ ]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

#cifar10

In [21]:
(독립, 종속), _ = tf.keras.datasets.cifar10.load_data()
print(독립.shape, 종속.shape)

종속 = pd.get_dummies(종속.reshape(50000))
print(독립.shape, 종속.shape)

(50000, 32, 32, 3) (50000, 1)
(50000, 32, 32, 3) (50000, 10)

In [22]:
# 모델 생성
X = tf.keras.layers.Input(shape=[32,32,3])

H = tf.keras.layers.Conv2D(6,kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Conv2D(16,kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [23]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
1563/1563 [==============================] - 45s 29ms/step - loss: 3.7414 - accuracy: 0.2687
Epoch 2/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.5405 - accuracy: 0.4456
Epoch 3/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.4454 - accuracy: 0.4854
Epoch 4/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.4042 - accuracy: 0.5078
Epoch 5/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.3681 - accuracy: 0.5259
Epoch 6/10
1563/1563 [==============================] - 46s 29ms/step - loss: 1.3724 - accuracy: 0.5186
Epoch 7/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.3888 - accuracy: 0.5196
Epoch 8/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.3936 - accuracy: 0.5227
Epoch 9/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.4060 - accuracy: 0.5150
Epoch 10/10
1563/1563 [==============================] - 45s 29ms/step - loss: 1.4203 - accuracy: 0.5152

In [24]:
model.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_5 (InputLayer)         [(None, 32, 32, 3)]       0
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 28, 28, 6)         456
_________________________________________________________________
max_pooling2d_6 (MaxPooling2 (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_8 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_7 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten_3 (Flatten)          (None, 400)               0
_________________________________________________________________
dense_9 (Dense)              (None, 120)               48120
_________________________________________________________________
dense_10 (Dense)             (None, 84)                10164
_________________________________________________________________
dense_11 (Dense)             (None, 10)                850
=================================================================
Total params: 62,006
Trainable params: 62,006
Non-trainable params: 0
_________________________________________________________________